ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik
  hosts:
    - host: lead-scoring-api-dp-stag.elsanow.co
      paths:
        - /

resources:
  requests:
    cpu: 100m
    memory: 300M

image:
  repository: registry.gitlab.com/elsacorp/data-science/lead-scoring-backend
  tag: "staging-latest"
  ## values: Always or IfNotPresent
  pullPolicy: Always
  pullSecret: gitlab-registry


autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80