image:
  name: registry.gitlab.com/elsacorp/infrastructure/kube-helm/master/ci:1.18.2-3.2.4

variables:
  KUBE_NAMESPACE: dp-lead-scoring-backend
  GPG_PRIV_KEY_PATH: deployment/deploy/keys/devops-priv.asc
  HELM_CHART_PATH: deployment
  HELM_CHART_NAME: lead-scoring-backend
  PROJECT: lead-scoring-backend

stages:
  - build_dev
  - test_dev

  - build_stag
  - deploy_stag

  - build_prod
  - deploy_prod

.test_template: &test_template
  image: registry.gitlab.com/elsacorp/data-science/lead-scoring-backend:$CI_COMMIT_SHA
  variables:
    API_KEY: 1234
    API_KEY_NAME: api_key
  script:
    - pip install -r requirements.txt
    - flake8
    - pytest

.build_template: &build_template
  script:
    - ./deployment/scripts/build.sh

.deploy_template: &deploy_template
  script:
    - ./deployment/scripts/setup-gpg.sh
    - ./deployment/scripts/deploy.sh

# Test stages
build_dev:
  <<: *build_template
  stage: build_dev
  image: docker:git
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    ENVIRONMENT: test
  only:
    - merge_requests

test_dev:
  <<: *test_template
  stage: test_dev
  needs: [build_dev]
  only:
    - merge_requests

# Staging stages
build_stag:
  <<: *build_template
  stage: build_stag
  image: docker:git
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    ENVIRONMENT: staging
  when: manual
  only:
    - master

deploy_stag:
  <<: *deploy_template
  stage: deploy_stag
  variables:
    environment: staging
  environment: staging
  needs: [build_stag]
  only:
    - master

# Production stages
build_prod:
  <<: *build_template
  stage: build_prod
  image: docker:git
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    ENVIRONMENT: production
  when: manual
  only:
    - /^[0-9]+\.[0-9]+(?:\.[0-9])?/
    - /^hotfix\/.*$/
    - /^release\/.*$/

deploy_prod:
  <<: *deploy_template
  stage: deploy_prod
  variables:
    environment: production
  environment: production
  allow_failure: false
  needs: [build_prod]
  only:
    - /^[0-9]+\.[0-9]+(?:\.[0-9])?/
    - /^hotfix\/.*$/
    - /^release\/.*$/
